          <link rel='stylesheet' href='/bower_components/react-bootstrap-table/css/react-bootstrap-table.min.css' />
          
          <div id="container">
          </div>
        
          <script src="/bower_components/react-bootstrap-table/dist/react-bootstrap-table.min.js"></script>
          <script type="text/babel" src="/javascripts/attack.js"></script>

          