        <link rel='stylesheet' href='/bower_components/react-bootstrap-table/css/react-bootstrap-table.min.css' />
        <link rel="stylesheet" href="/bower_components/react-select/dist/react-select.min.css">
          
        <div id="container"></div>
        
        <script src="/bower_components/react-bootstrap-table/dist/react-bootstrap-table.min.js"></script>
        <script src="/bower_components/classnames/index.js"></script>
        <script src="/bower_components/react-input-autosize/dist/react-input-autosize.js"></script>
		<script src="/bower_components/react-select/dist/react-select.js"></script>
        <script type="text/babel" src="/javascripts/result.js"></script>
          