
        <link rel='stylesheet' href='/bower_components/react-bootstrap-table/css/react-bootstrap-table.min.css' />
          
        <div id="container"></div>
        <input type="hidden" name="scenarioId" id="scenarioId" value={{scenarioId}} />
        <input type="hidden" name="runningToken" id="runningToken" value={{runningToken}} />
        
        <script src="/bower_components/react-bootstrap-table/dist/react-bootstrap-table.min.js"></script>
        <script type="text/babel" src="/javascripts/resultByToken.js"></script>
          