<!DOCTYPE html>
<html>
<head>
	<title>{{site_name}} | {{title}}</title>
	<link rel='stylesheet' href='/bower_components/semantic/dist/semantic.min.css' />
	<link rel='stylesheet' href='/stylesheets/app.css' />
	<script src="/bower_components/jquery/dist/jquery.min.js"></script>
</head>
<body>
	{{> menus}}
	{{{body}}}
	<script src="/bower_components/semantic/dist/semantic.min.js"></script>
</body>
</html>
