		<div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="/"><span class="glyphicon glyphicon-scale"></span> Dashboard <span class="sr-only">(current)</span></a></li>
            <li><a href="/attack"><span class="glyphicon glyphicon-knight"></span> Attack</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-list-alt"></span> Scenario</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href=""><span class="glyphicon glyphicon-stats"></span> Statistics</a></li>
            <li><a href=""><span class="glyphicon glyphicon-book"></span> Documentation</a></li>
          </ul>
        </div>