<div id="result">
</div>

<script src="/socket.io/socket.io.js"></script>
<script>
var socket = io.connect('http://10.151.36.30:3000');
	socket.on('connect', function(data) {
			socket.emit('join', 'Hello World from client');
      socket.emit('run', '1');
			socket.on('result', function(data) {
				var container = document.getElementById('result');
        container.innerHTML = '';
        
        for (var i in data){
          container.innerHTML = container.innerHTML + '<strong>Vulnerability:</strong> ' + data[i].name +' | <strong>URL:</strong> ' + data[i].url + ' | <strong>Severity:</strong> ' + data[i].severity + '<br/>';
        };
			});
	});
</script>
