        <link rel="stylesheet" href="/bower_components/codemirror/lib/codemirror.css">
        <link rel="stylesheet" href="/bower_components/codemirror/theme/rubyblue.css">

        <div id="container"></div>
        <input type="hidden" id="urlData" value="{{urlData}}">
        <input type="hidden" id="urlUpdate" value="{{urlUpdate}}">
        
        <script src="/bower_components/codemirror/lib/codemirror.js"></script>
        <script type="text/babel" src="/javascripts/scenarioConfigs.js"></script>