        <link rel='stylesheet' href='/bower_components/react-bootstrap-table/css/react-bootstrap-table.min.css' />
          
        <div id="container"></div>
        <div id="runnerContainer"></div>
        <div id="runnerSocket"></div>
        
        <script src="/socket.io/socket.io.js"></script>
        <script src="/bower_components/react-bootstrap-table/dist/react-bootstrap-table.min.js"></script>
        <script type="text/babel" src="/javascripts/scenario.js"></script>
        <script>
        
        </script>
          